.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 90vh;
    margin-top: 1vh;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.option-container {
    cursor: pointer;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.option-icon {
    color: #6b7d8a;
    padding: 10px;
}

.option-text {
    font-size: small;
    color: #6b7d8a;
}

.selected {
    background-color: #d38ef4;
    border-radius: 8px;
    color: white;
}

.selected-text {
    color: black;
    font-weight: bold;
}

.user-container {
    cursor: pointer;
}

.users-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    width: 100%;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}